{% extends "base.html" %}

{% block content %}
<h1>About</h1>
<p>
EstimateMyMiles is a free service designed to make it as
easy as possible to figure out how many miles you'll earn on
your flights with any frequent flyer program. Instead of
having to trawl through countless airline websites to figure
out which program you should credit your miles to, or which
airline you should fly to get the most miles for a given
flight, simply use this website. With EstimateMyMiles, you
can optimise your travel plans for achieving elite status or
accruing the miles you need to book your next vacation.
</p>
<p>
Want to learn more? Below, you can find some articles on
getting into the frequent flyer game, etc.
</p>
{% endblock %}
